html,
body {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: $backgroundColor;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.toaster {
    font-family: $paragraphFont;
}

.btn {
    cursor: pointer;
    font-family: $paragraphFont;
    font-weight: bold;
    font-size: 1.2em;
    flex: 1;
    margin: 5px;
    padding: 5px 10px;
    height: 55px;
    border: none;
    border-radius: 5px;
    background-size: 300% 100%;
    transition: all 0.4s ease-in-out;
    color: white;

    &.dream {
        background-image: linear-gradient(
            to right,
            #667eea,
            #764ba2,
            #6b8dd6,
            #8e37d7
        );
        box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    }

    &.cool {
        background-image: linear-gradient(
            to right,
            #25aae1,
            #4481eb,
            #04befe,
            #3f86ed
        );
        box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    }

    &.meme {
        background-image: linear-gradient(
            to right,
            #f5ce62,
            #e43603,
            #fa7199,
            #e85a19
        );
        box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    }

    &.danger {
        background-image: linear-gradient(
            to right,
            #eb3941,
            #f15e64,
            #e14e53,
            #e2373f
        );
        box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
    }

    &:hover {
        background-position: 100% 0;
        transition: all 0.4s ease-in-out;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        opacity: 0.5;
        background-image: linear-gradient(
            to right,
            #29323c,
            #485563,
            #2b5876,
            #4e4376
        );
        box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);

        &:hover {
            background-position: initial;
        }
    }
}
