@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Poppins');

$headerFont: 'Fugaz One', cursive;
$paragraphFont: 'Poppins', sans-serif;

$primaryColor: #665c84;
$secondaryColor: #ffba5a;
$accentColor: #ff7657;
$backgroundColor: #f3f9fb;
